:root {
	--font-display: "Open Sans", sans-serif;
	--pure-white: #ffffff;
	--primary-color: #dbdbdb;
	--secondary-color: aliceblue;
	box-sizing: border-box;
}

html {
	width: 800px;
	margin: auto;
}

body {
	margin: 0;
	background-color: var(--pure-white);
	font-family: var(--font-display);
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}
